<div class="ctnrMainTopic">

    <div class="titleHeader">
        <p>Probabilidades</p>
        <hr>
    </div>

    <div class="ctnrMainMenu">

        
        <div class="ctnrTeoremaFather" routerLink="/teorema1">
            <h6>Teorema 1</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema2">
            <h6>Teorema 2</h6>
            <p>EL teorema 2 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema3">
            <h6>Teorema 3</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema4">
            <h6>Teorema 4</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema5">
            <h6>Teorema 5</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema6">
            <h6>Teorema 6</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema1">
            <h6>Teorema 1</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema1">
            <h6>Teorema 2</h6>
            <p>EL teorema 1 se trata de esta manera</p>
        </div>




    </div>


</div>