<div class="ctnrMainTopic">

    <div class="titleHeader">
        <p>Probabilidades</p>
        <hr>
    </div>

    <div class="ctnrMainMenu">

        
        <div class="ctnrTeoremaFather" routerLink="/teorema1">
            <h6>Teorema 1</h6>
            <p>EL número de permutaciones de n objetos es n!</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema2">
            <h6>Teorema 2</h6>
            <p>EL teorema 2 se trata de esta manera</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema3">
            <h6>Teorema 3</h6>
            <p>El numero de permutaciones de n objetos ordenados en un circulo es (n-1)</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema4">
            <h6>Teorema 4</h6>
            <p>El numero de permutacion distintas de n objetos, en el que n1 son de una clase, n2 de un segunda clase,..., nk  de una k-esima clase</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema5">
            <h6>Teorema 5</h6>
            <p>El numero de formas de partir un conjunto de n objetos en r celdas con n1 elementos en la primera celda, n2 elementos en la segunda, y asi sucesivamente</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema6">
            <h6>Teorema 6</h6>
            <p>EL numero de combinaciones de n objetos distintos tomados de r a la vez</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema7">
            <h6>Teorema 7</h6>
            <p> Si A y B son dos evento , entonces</p>
        </div>
        <div class="ctnrTeoremaFather" routerLink="/teorema9">
            <h6>Teorema 9</h6>
            <p>EL teorema 9 se trata de esta manera</p>
        </div>




    </div>


</div>