<div class="ctnrMainTeoremaFather">
    <div class="ctnrMaonTeorema" >
        <div class="ctnrTitleTeorema">
            <h3>Teorema 7</h3>
        </div>

        <div class="cntrTeoremaGrid">

            <div class="ctnrIngresoDatosTeoF">
                <h3>Ingrese los valores</h3>
                <input type="number" placeholder="n" [(ngModel)]="n">
                <input type="text" placeholder="Ejem n1,n2,..nk" [(ngModel)]="n1">
                <button  (click)="Meresultado()">Resolver</button>

                <p class="txtTituloFormula">Formula del teorema 7</p>
                <p class="txtFormula"> P(A U B) = P(A)+P(B)-P(A∩B )  </p>
            </div>

            <div class="verticalLine"></div>

            <div class="ctnrResultadoTeoF">
                <div class="ctnrTitulosReDefi">
                    <h3  (click)="meCambiarTemas()"   [ngClass]="CambiarTemas==true ? 'txt-tiResult' : 'txt-tiResultOf'" >Resultado</h3>
                    <h3  (click)="meCambiarTemas()"   [ngClass]="CambiarTemas ==false ? 'txt-tiResult' : 'txt-tiResultOf'" >Definicion</h3>
                </div>

                <ng-template [ngIf]="CambiarTemas">
                    <div *ngIf=mostrar>
                        <p [mathjax]="Formula"></p>
                        <br>
                        <p [mathjax]="SustituirTxt"></p>
                        <br>
                        <p [mathjax]="SustituirTxt1"></p>
                        <br>
                        <p class="resultadoOperacion"> Resultado  = {{resultado}}</p>
                    </div>
                </ng-template>


                <ng-template [ngIf]="!CambiarTemas">
                    <div>
                        <p class="txtDefinicionTeorema">  Teorema 7 <br> Si A y B son dos eventos, entonces </p>
                        <p class="txtDefinicionTeorema"> P(A U B) = P(A)+P(B)-P(A∩B )  </p>
                        <br>
                        <p class="txtDefinicionTeorema">  Ejemplo <br>  Al final del semestre John se va a graduar en la facultad de ingeniería
                            industrial de una universidad. Después de tener entrevistas en dos
                            empresas en donde quiere trabajar, determina que la probabilidad que
                            tiene de lograr una oferta de empleo en la empresa A es 0.8, y que la
                            probabilidad de obtenerla en la empresa B es 0.6. Si, por otro lado,
                            considera que la probabilidad de recibir ofertas de ambas empresas es
                            0.5, ¿qué probabilidad tiene de obtener al menos una oferta de esas
                            dos empresas?</p>
                        <br>
                        <p class="txtDefinicionTeorema"> Solucion <br> si usamos la regla aditiva tenemos </p>
                        <p class="txtDefinicionTeorema">  P(A ∪ B) = P(A) + P(B) – P(A ∩ B) </p>
                        <p class="txtDefinicionTeorema">  = 0.8 + 0.6 – 0.5 = 0.9. </p>
                        <br>
                    </div>
                </ng-template>


            </div>
        </div>

        
    </div>
</div>